# randomVals.js
# db/*
# node_modules
# */.DS_Store

*
*/.DS_Store

!init.js
!server.js
!server.babel.js
!backend_package.json
!backend_package-lock.json
!.gitignore

!.git
!.git/*
!routes
!routes/*
!middleware
!middleware/*
!utils.js
